<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<dict>
		<key>Nome</key>
		<string>Abelha</string>
		<key>Imagem</key>
		<string>Abelha.jpg</string>
	</dict>
	<key>B</key>
	<dict>
		<key>Nome</key>
		<string>Babuino</string>
		<key>Imagem</key>
		<string>Babuino.jpg</string>
	</dict>
	<key>C</key>
	<dict>
		<key>Nome</key>
		<string>Coelho</string>
		<key>Imagem</key>
		<string>Coelho.jpg</string>
	</dict>
	<key>D</key>
	<dict>
		<key>Nome</key>
		<string>Doninha</string>
		<key>Imagem</key>
		<string>Doninha.jpg</string>
	</dict>
	<key>E</key>
	<dict>
		<key>Nome</key>
		<string>Esquilo</string>
		<key>Imagem</key>
		<string>Esquilo.jpg</string>
	</dict>
	<key>F</key>
	<dict>
		<key>Nome</key>
		<string>Falcão</string>
		<key>Imagem</key>
		<string>Falcao.jpg</string>
	</dict>
	<key>G</key>
	<dict>
		<key>Nome</key>
		<string>Garça</string>
		<key>Imagem</key>
		<string>Garca.jpg</string>
	</dict>
	<key>H</key>
	<dict>
		<key>Nome</key>
		<string>Hipopótamo</string>
		<key>Imagem</key>
		<string>Hipopótamo.jpg</string>
	</dict>
	<key>I</key>
	<dict>
		<key>Nome</key>
		<string>Iaque</string>
		<key>Imagem</key>
		<string>Iaque.jpg</string>
	</dict>
	<key>J</key>
	<dict>
		<key>Nome</key>
		<string>Jacaré</string>
		<key>Imagem</key>
		<string>Jacare.jpg</string>
	</dict>
	<key>K</key>
	<dict>
		<key>Nome</key>
		<string>Kouprey</string>
		<key>Imagem</key>
		<string>Kouprey.jpg</string>
	</dict>
	<key>L</key>
	<dict>
		<key>Nome</key>
		<string>Libélula</string>
		<key>Imagem</key>
		<string>Libelula.jpg</string>
	</dict>
	<key>M</key>
	<dict>
		<key>Nome</key>
		<string>Medusa</string>
		<key>Imagem</key>
		<string>Medusa.jpg</string>
	</dict>
	<key>N</key>
	<dict>
		<key>Nome</key>
		<string>Naja</string>
		<key>Imagem</key>
		<string>Naja.jpg</string>
	</dict>
	<key>O</key>
	<dict>
		<key>Nome</key>
		<string>Órix</string>
		<key>Imagem</key>
		<string>Orix.jpg</string>
	</dict>
	<key>P</key>
	<dict>
		<key>Nome</key>
		<string>Pantera</string>
		<key>Imagem</key>
		<string>Pantera.jpg</string>
	</dict>
	<key>Q</key>
	<dict>
		<key>Nome</key>
		<string>Queroquero</string>
		<key>Imagem</key>
		<string>Queroquero.jpg</string>
	</dict>
	<key>R</key>
	<dict>
		<key>Nome</key>
		<string>Raposa</string>
		<key>Imagem</key>
		<string>Raposa.jpg</string>
	</dict>
	<key>S</key>
	<dict>
		<key>Nome</key>
		<string>Salamandra</string>
		<key>Imagem</key>
		<string>Salamandra</string>
	</dict>
	<key>T</key>
	<dict>
		<key>Nome</key>
		<string>Tartaruga</string>
		<key>Imagem</key>
		<string>Tartaruga.jpg</string>
	</dict>
	<key>U</key>
	<dict>
		<key>Nome</key>
		<string>Urso</string>
		<key>Imagem</key>
		<string>Urso.jpg</string>
	</dict>
	<key>V</key>
	<dict>
		<key>Nome</key>
		<string>Vespa</string>
		<key>Imagem</key>
		<string>Vespa.jpg</string>
	</dict>
	<key>W</key>
	<dict>
		<key>Nome</key>
		<string>Watt</string>
		<key>Imagem</key>
		<string>Watt.jpg</string>
	</dict>
	<key>X</key>
	<dict>
		<key>Nome</key>
		<string>Xexé</string>
		<key>Imagem</key>
		<string>Xexe.jpg</string>
	</dict>
	<key>Y</key>
	<dict>
		<key>Nome</key>
		<string>Yoda</string>
		<key>Imagem</key>
		<string>Yoda.jpg</string>
	</dict>
	<key>Z</key>
	<dict>
		<key>Nome</key>
		<string>Zebra</string>
		<key>Imagem</key>
		<string>Zebra.jpg</string>
	</dict>
</dict>
</plist>
